In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
data_full = pd.read_csv('train.csv')

In [3]:
data_full.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
X = data_full.select_dtypes(exclude='object')
X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [5]:
#Now searching columns with missing values
columns_missing_values=[]
for col in X.columns:
    if X[col].isnull().any():
        columns_missing_values.append(col)
columns_missing_values

['LotFrontage', 'MasVnrArea', 'GarageYrBlt']

In [7]:
X['GarageYrBlt'].describe() #Chossing to drop the rows with missing values,as those houses might not have a garage only
#Hence not using imputation

count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: GarageYrBlt, dtype: float64

In [8]:
X['LotFrontage'].describe() #Considering imputation in this case

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [9]:
X['MasVnrArea'].describe()#Imputation

count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%         0.000000
50%         0.000000
75%       166.000000
max      1600.000000
Name: MasVnrArea, dtype: float64

In [11]:
X.dropna(subset=['GarageYrBlt'],axis=0,inplace=True)
X.shape

<ipython-input-11-73dcd6228f69>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.dropna(subset=['GarageYrBlt'],axis=0,inplace=True)

(1379, 38)

In [12]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()

In [13]:
X.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold', 'SalePrice'],
      dtype='object')

In [14]:
X.dropna(subset=['SalePrice'],axis=0,inplace=True) #Dropping the data with null target variable
X.shape

<ipython-input-14-8643333bc5c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.dropna(subset=['SalePrice'],axis=0,inplace=True) #Dropping the data with null target variable

(1379, 38)

In [15]:
y = X.SalePrice
X.drop('SalePrice',axis=1,inplace=True)
X.shape

c:\users\dellp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(1379, 37)

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_valid,y_train,y_valid= train_test_split(X,y,test_size=0.2,random_state=1)

In [36]:
X_train_imputed = pd.DataFrame(my_imputer.fit_transform(X_train))
X_valid_imputed = pd.DataFrame(my_imputer.transform(X_valid))
X_train_imputed.columns = X_train.columns
X_valid_imputed.columns = X_valid.columns

count    276.000000
mean      71.341101
std       25.563364
min       21.000000
25%       60.000000
50%       70.469866
75%       80.000000
max      313.000000
Name: LotFrontage, dtype: float64

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

In [25]:
list_ =[]
for i in range(1,38):
    list_.append(i)

param1 = [{'n_estimators':[10,100,1000], 'max_features':list_}]

In [ ]:
# rfr = RandomForestRegressor()
# Grid1 = GridSearchCV(rfr,param1,cv=4)
# Grid1.fit(X_train_imputed,y_train)
# Grid1.best_estimator_

In [27]:
#Since I already divided the data ill use a manual approach
from sklearn.metrics import mean_absolute_error

In [37]:
def calc_mae(model,X_tr = X_train_imputed,y_tr=y_train,X_val=X_valid_imputed,y_val=y_valid):
    model.fit(X_tr,y_tr)
    pred = model.predict(X_val)
    mae = mean_absolute_error(y_val,pred)
    return mae

In [38]:
list_mae=[]
for i in [10,100,1000,10000]:
    rfr=RandomForestRegressor(n_estimators=i)
    list_mae.append(calc_mae(rfr))
list_mae

[21316.35108695652, 20784.58018115942, 20769.26593478261, 20754.10167536232]