In [120]:
import pandas as pd 
import numpy as np

In [121]:
X=pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [122]:
X.dropna(subset=['SalePrice'],axis=0,inplace=True)
y = X.SalePrice
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 690.1+ KB

In [123]:
series = X['MasVnrArea'].isnull()
X[['MasVnrType','MasVnrArea']][series]

     MasVnrType  MasVnrArea
234         NaN         NaN
529         NaN         NaN
650         NaN         NaN
936         NaN         NaN
973         NaN         NaN
977         NaN         NaN
1243        NaN         NaN
1278        NaN         NaN

In [124]:
X.dropna(subset=['MasVnrArea'],axis=0,inplace=True)
X.shape

(1452, 81)

In [125]:
s = X['LotFrontage'].notnull()
mean = X['LotFrontage'][s].mean()
mean
X['LotFrontage'].replace(np.nan,mean,inplace=True)

In [126]:
#Dropping all the object columns with missing values
missing_value_cols = []
s = X.dtypes=='object'
for col in X.columns[s]:
    if X[col].isnull().any():
        missing_value_cols.append(col)
missing_value_cols

['Alley',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [127]:
X['Electrical'].unique() #since only we have only one missing value in this column so instead of dropping the entire column ill drop
#the particular entry

array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object)

In [128]:
X.dropna(subset=['Electrical'],axis=0,inplace=True)
X.shape

(1451, 81)

In [129]:
missing_value_cols = []
s = X.dtypes=='object'
for col in X.columns[s]:
    if X[col].isnull().any():
        missing_value_cols.append(col)
missing_value_cols

['Alley',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [130]:
X[missing_value_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Alley         90 non-null     object
 1   BsmtQual      1414 non-null   object
 2   BsmtCond      1414 non-null   object
 3   BsmtExposure  1413 non-null   object
 4   BsmtFinType1  1414 non-null   object
 5   BsmtFinType2  1413 non-null   object
 6   FireplaceQu   766 non-null    object
 7   GarageType    1370 non-null   object
 8   GarageFinish  1370 non-null   object
 9   GarageQual    1370 non-null   object
 10  GarageCond    1370 non-null   object
 11  PoolQC        7 non-null      object
 12  Fence         281 non-null    object
 13  MiscFeature   54 non-null     object
dtypes: object(14)
memory usage: 90.7+ KB

In [131]:
X.drop(missing_value_cols,axis=1,inplace=True)
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 67 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1451 non-null   int64
 1   MSSubClass     1451 non-null   int64
 2   MSZoning       1451 non-null   object
 3   LotFrontage    1451 non-null   float64
 4   LotArea        1451 non-null   int64
 5   Street         1451 non-null   object
 6   LotShape       1451 non-null   object
 7   LandContour    1451 non-null   object
 8   Utilities      1451 non-null   object
 9   LotConfig      1451 non-null   object
 10  LandSlope      1451 non-null   object
 11  Neighborhood   1451 non-null   object
 12  Condition1     1451 non-null   object
 13  Condition2     1451 non-null   object
 14  BldgType       1451 non-null   object
 15  HouseStyle     1451 non-null   object
 16  OverallQual    1451 non-null   int64
 17  OverallCond    1451 non-null   int64
 18  YearBuilt      1451 non-null   int64
 19  YearRemodAdd   1451 non-null   int64
 20  RoofStyle      1451 non-null   object
 21  RoofMatl       1451 non-null   object
 22  Exterior1st    1451 non-null   object
 23  Exterior2nd    1451 non-null   object
 24  MasVnrType     1451 non-null   object
 25  MasVnrArea     1451 non-null   float64
 26  ExterQual      1451 non-null   object
 27  ExterCond      1451 non-null   object
 28  Foundation     1451 non-null   object
 29  BsmtFinSF1     1451 non-null   int64
 30  BsmtFinSF2     1451 non-null   int64
 31  BsmtUnfSF      1451 non-null   int64
 32  TotalBsmtSF    1451 non-null   int64
 33  Heating        1451 non-null   object
 34  HeatingQC      1451 non-null   object
 35  CentralAir     1451 non-null   object
 36  Electrical     1451 non-null   object
 37  1stFlrSF       1451 non-null   int64
 38  2ndFlrSF       1451 non-null   int64
 39  LowQualFinSF   1451 non-null   int64
 40  GrLivArea      1451 non-null   int64
 41  BsmtFullBath   1451 non-null   int64
 42  BsmtHalfBath   1451 non-null   int64
 43  FullBath       1451 non-null   int64
 44  HalfBath       1451 non-null   int64
 45  BedroomAbvGr   1451 non-null   int64
 46  KitchenAbvGr   1451 non-null   int64
 47  KitchenQual    1451 non-null   object
 48  TotRmsAbvGrd   1451 non-null   int64
 49  Functional     1451 non-null   object
 50  Fireplaces     1451 non-null   int64
 51  GarageYrBlt    1370 non-null   float64
 52  GarageCars     1451 non-null   int64
 53  GarageArea     1451 non-null   int64
 54  PavedDrive     1451 non-null   object
 55  WoodDeckSF     1451 non-null   int64
 56  OpenPorchSF    1451 non-null   int64
 57  EnclosedPorch  1451 non-null   int64
 58  3SsnPorch      1451 non-null   int64
 59  ScreenPorch    1451 non-null   int64
 60  PoolArea       1451 non-null   int64
 61  MiscVal        1451 non-null   int64
 62  MoSold         1451 non-null   int64
 63  YrSold         1451 non-null   int64
 64  SaleType       1451 non-null   object
 65  SaleCondition  1451 non-null   object
 66  SalePrice      1451 non-null   int64
dtypes: float64(3), int64(35), object(29)
memory usage: 606.5+ KB

In [132]:
#Now garage year built is the only column with missing values, but missing values can be for the houses which do not have a garage
#So i will use extended imputation

In [133]:
s = X['GarageYrBlt'].isnull()
X['GarageYr_was_missing'] = s

In [134]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 68 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    1451 non-null   int64
 1   MSSubClass            1451 non-null   int64
 2   MSZoning              1451 non-null   object
 3   LotFrontage           1451 non-null   float64
 4   LotArea               1451 non-null   int64
 5   Street                1451 non-null   object
 6   LotShape              1451 non-null   object
 7   LandContour           1451 non-null   object
 8   Utilities             1451 non-null   object
 9   LotConfig             1451 non-null   object
 10  LandSlope             1451 non-null   object
 11  Neighborhood          1451 non-null   object
 12  Condition1            1451 non-null   object
 13  Condition2            1451 non-null   object
 14  BldgType              1451 non-null   object
 15  HouseStyle            1451 non-null   object
 16  OverallQual           1451 non-null   int64
 17  OverallCond           1451 non-null   int64
 18  YearBuilt             1451 non-null   int64
 19  YearRemodAdd          1451 non-null   int64
 20  RoofStyle             1451 non-null   object
 21  RoofMatl              1451 non-null   object
 22  Exterior1st           1451 non-null   object
 23  Exterior2nd           1451 non-null   object
 24  MasVnrType            1451 non-null   object
 25  MasVnrArea            1451 non-null   float64
 26  ExterQual             1451 non-null   object
 27  ExterCond             1451 non-null   object
 28  Foundation            1451 non-null   object
 29  BsmtFinSF1            1451 non-null   int64
 30  BsmtFinSF2            1451 non-null   int64
 31  BsmtUnfSF             1451 non-null   int64
 32  TotalBsmtSF           1451 non-null   int64
 33  Heating               1451 non-null   object
 34  HeatingQC             1451 non-null   object
 35  CentralAir            1451 non-null   object
 36  Electrical            1451 non-null   object
 37  1stFlrSF              1451 non-null   int64
 38  2ndFlrSF              1451 non-null   int64
 39  LowQualFinSF          1451 non-null   int64
 40  GrLivArea             1451 non-null   int64
 41  BsmtFullBath          1451 non-null   int64
 42  BsmtHalfBath          1451 non-null   int64
 43  FullBath              1451 non-null   int64
 44  HalfBath              1451 non-null   int64
 45  BedroomAbvGr          1451 non-null   int64
 46  KitchenAbvGr          1451 non-null   int64
 47  KitchenQual           1451 non-null   object
 48  TotRmsAbvGrd          1451 non-null   int64
 49  Functional            1451 non-null   object
 50  Fireplaces            1451 non-null   int64
 51  GarageYrBlt           1370 non-null   float64
 52  GarageCars            1451 non-null   int64
 53  GarageArea            1451 non-null   int64
 54  PavedDrive            1451 non-null   object
 55  WoodDeckSF            1451 non-null   int64
 56  OpenPorchSF           1451 non-null   int64
 57  EnclosedPorch         1451 non-null   int64
 58  3SsnPorch             1451 non-null   int64
 59  ScreenPorch           1451 non-null   int64
 60  PoolArea              1451 non-null   int64
 61  MiscVal               1451 non-null   int64
 62  MoSold                1451 non-null   int64
 63  YrSold                1451 non-null   int64
 64  SaleType              1451 non-null   object
 65  SaleCondition         1451 non-null   object
 66  SalePrice             1451 non-null   int64
 67  GarageYr_was_missing  1451 non-null   bool
dtypes: bool(1), float64(3), int64(35), object(29)
memory usage: 607.9+ KB

In [135]:
# from sklearn.impute import SimpleImputer
# my_imputer = SimpleImputer(strategy='median')
# X_imputed = pd.DataFrame(my_imputer.fit_transform(X))
s=X['GarageYrBlt'].notnull()
mode = X['GarageYrBlt'][s].mode()
mode
# X['GarageYrBlt']=X['GarageYrBlt'].fillna(mode)
# X.info()

0    2005.0
dtype: float64

In [136]:
X.drop(['GarageYrBlt'],axis=1,inplace=True)

In [137]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 67 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    1451 non-null   int64
 1   MSSubClass            1451 non-null   int64
 2   MSZoning              1451 non-null   object
 3   LotFrontage           1451 non-null   float64
 4   LotArea               1451 non-null   int64
 5   Street                1451 non-null   object
 6   LotShape              1451 non-null   object
 7   LandContour           1451 non-null   object
 8   Utilities             1451 non-null   object
 9   LotConfig             1451 non-null   object
 10  LandSlope             1451 non-null   object
 11  Neighborhood          1451 non-null   object
 12  Condition1            1451 non-null   object
 13  Condition2            1451 non-null   object
 14  BldgType              1451 non-null   object
 15  HouseStyle            1451 non-null   object
 16  OverallQual           1451 non-null   int64
 17  OverallCond           1451 non-null   int64
 18  YearBuilt             1451 non-null   int64
 19  YearRemodAdd          1451 non-null   int64
 20  RoofStyle             1451 non-null   object
 21  RoofMatl              1451 non-null   object
 22  Exterior1st           1451 non-null   object
 23  Exterior2nd           1451 non-null   object
 24  MasVnrType            1451 non-null   object
 25  MasVnrArea            1451 non-null   float64
 26  ExterQual             1451 non-null   object
 27  ExterCond             1451 non-null   object
 28  Foundation            1451 non-null   object
 29  BsmtFinSF1            1451 non-null   int64
 30  BsmtFinSF2            1451 non-null   int64
 31  BsmtUnfSF             1451 non-null   int64
 32  TotalBsmtSF           1451 non-null   int64
 33  Heating               1451 non-null   object
 34  HeatingQC             1451 non-null   object
 35  CentralAir            1451 non-null   object
 36  Electrical            1451 non-null   object
 37  1stFlrSF              1451 non-null   int64
 38  2ndFlrSF              1451 non-null   int64
 39  LowQualFinSF          1451 non-null   int64
 40  GrLivArea             1451 non-null   int64
 41  BsmtFullBath          1451 non-null   int64
 42  BsmtHalfBath          1451 non-null   int64
 43  FullBath              1451 non-null   int64
 44  HalfBath              1451 non-null   int64
 45  BedroomAbvGr          1451 non-null   int64
 46  KitchenAbvGr          1451 non-null   int64
 47  KitchenQual           1451 non-null   object
 48  TotRmsAbvGrd          1451 non-null   int64
 49  Functional            1451 non-null   object
 50  Fireplaces            1451 non-null   int64
 51  GarageCars            1451 non-null   int64
 52  GarageArea            1451 non-null   int64
 53  PavedDrive            1451 non-null   object
 54  WoodDeckSF            1451 non-null   int64
 55  OpenPorchSF           1451 non-null   int64
 56  EnclosedPorch         1451 non-null   int64
 57  3SsnPorch             1451 non-null   int64
 58  ScreenPorch           1451 non-null   int64
 59  PoolArea              1451 non-null   int64
 60  MiscVal               1451 non-null   int64
 61  MoSold                1451 non-null   int64
 62  YrSold                1451 non-null   int64
 63  SaleType              1451 non-null   object
 64  SaleCondition         1451 non-null   object
 65  SalePrice             1451 non-null   int64
 66  GarageYr_was_missing  1451 non-null   bool
dtypes: bool(1), float64(2), int64(35), object(29)
memory usage: 596.6+ KB

In [138]:
X_numeric = X.select_dtypes(exclude='object')

In [139]:
X_numeric.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 38 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    1451 non-null   int64
 1   MSSubClass            1451 non-null   int64
 2   LotFrontage           1451 non-null   float64
 3   LotArea               1451 non-null   int64
 4   OverallQual           1451 non-null   int64
 5   OverallCond           1451 non-null   int64
 6   YearBuilt             1451 non-null   int64
 7   YearRemodAdd          1451 non-null   int64
 8   MasVnrArea            1451 non-null   float64
 9   BsmtFinSF1            1451 non-null   int64
 10  BsmtFinSF2            1451 non-null   int64
 11  BsmtUnfSF             1451 non-null   int64
 12  TotalBsmtSF           1451 non-null   int64
 13  1stFlrSF              1451 non-null   int64
 14  2ndFlrSF              1451 non-null   int64
 15  LowQualFinSF          1451 non-null   int64
 16  GrLivArea             1451 non-null   int64
 17  BsmtFullBath          1451 non-null   int64
 18  BsmtHalfBath          1451 non-null   int64
 19  FullBath              1451 non-null   int64
 20  HalfBath              1451 non-null   int64
 21  BedroomAbvGr          1451 non-null   int64
 22  KitchenAbvGr          1451 non-null   int64
 23  TotRmsAbvGrd          1451 non-null   int64
 24  Fireplaces            1451 non-null   int64
 25  GarageCars            1451 non-null   int64
 26  GarageArea            1451 non-null   int64
 27  WoodDeckSF            1451 non-null   int64
 28  OpenPorchSF           1451 non-null   int64
 29  EnclosedPorch         1451 non-null   int64
 30  3SsnPorch             1451 non-null   int64
 31  ScreenPorch           1451 non-null   int64
 32  PoolArea              1451 non-null   int64
 33  MiscVal               1451 non-null   int64
 34  MoSold                1451 non-null   int64
 35  YrSold                1451 non-null   int64
 36  SalePrice             1451 non-null   int64
 37  GarageYr_was_missing  1451 non-null   bool
dtypes: bool(1), float64(2), int64(35)
memory usage: 432.2 KB

In [140]:
X_categorical = X.select_dtypes(include='object')

In [141]:
X_categorical.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1451 entries, 0 to 1459
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSZoning       1451 non-null   object
 1   Street         1451 non-null   object
 2   LotShape       1451 non-null   object
 3   LandContour    1451 non-null   object
 4   Utilities      1451 non-null   object
 5   LotConfig      1451 non-null   object
 6   LandSlope      1451 non-null   object
 7   Neighborhood   1451 non-null   object
 8   Condition1     1451 non-null   object
 9   Condition2     1451 non-null   object
 10  BldgType       1451 non-null   object
 11  HouseStyle     1451 non-null   object
 12  RoofStyle      1451 non-null   object
 13  RoofMatl       1451 non-null   object
 14  Exterior1st    1451 non-null   object
 15  Exterior2nd    1451 non-null   object
 16  MasVnrType     1451 non-null   object
 17  ExterQual      1451 non-null   object
 18  ExterCond      1451 non-null   object
 19  Foundation     1451 non-null   object
 20  Heating        1451 non-null   object
 21  HeatingQC      1451 non-null   object
 22  CentralAir     1451 non-null   object
 23  Electrical     1451 non-null   object
 24  KitchenQual    1451 non-null   object
 25  Functional     1451 non-null   object
 26  PavedDrive     1451 non-null   object
 27  SaleType       1451 non-null   object
 28  SaleCondition  1451 non-null   object
dtypes: object(29)
memory usage: 175.7+ KB

In [142]:
for i in X_categorical.columns:
    print(i," :",X_categorical[i].unique())

MSZoning  : ['RL' 'RM' 'C (all)' 'FV' 'RH']
Street  : ['Pave' 'Grvl']
LotShape  : ['Reg' 'IR1' 'IR2' 'IR3']
LandContour  : ['Lvl' 'Bnk' 'Low' 'HLS']
Utilities  : ['AllPub' 'NoSeWa']
LotConfig  : ['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
LandSlope  : ['Gtl' 'Mod' 'Sev']
Neighborhood  : ['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
Condition1  : ['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
Condition2  : ['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
BldgType  : ['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
HouseStyle  : ['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
RoofStyle  : ['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
RoofMatl  : ['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
Exterior1st  : ['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock']
Exterior2nd  : ['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Other'
 'Stone' 'CBlock']
MasVnrType  : ['BrkFace' 'None' 'Stone' 'BrkCmn']
ExterQual  : ['Gd' 'TA' 'Ex' 'Fa']
ExterCond  : ['TA' 'Gd' 'Fa' 'Po' 'Ex']
Foundation  : ['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']
Heating  : ['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
HeatingQC  : ['Ex' 'Gd' 'TA' 'Fa' 'Po']
CentralAir  : ['Y' 'N']
Electrical  : ['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix']
KitchenQual  : ['Gd' 'TA' 'Ex' 'Fa']
Functional  : ['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev']
PavedDrive  : ['Y' 'N' 'P']
SaleType  : ['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth']
SaleCondition  : ['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']

In [143]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
X_categorical_encoded = pd.DataFrame(encoder.fit_transform(X_categorical))
X_categorical_encoded.index = X_categorical.index
X_categorical_encoded

,0,1,2,3,4,5,6,7,8,9,...,181,182,183,184,185,186,187,188,189,190
0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1456,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1457,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1458,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1459,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [144]:
y=X_numeric.SalePrice
X_numeric.drop('SalePrice',axis=1,inplace=True)
X_final = pd.concat([X_numeric,X_categorical_encoded],axis=1)
X_final

c:\users\dellp\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,181,182,183,184,185,186,187,188,189,190
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [145]:
#Dropping the Id column
X_final.drop('Id',axis=1,inplace=True)

In [146]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1451, dtype: int64

In [147]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val= train_test_split(X_final,y,test_size=0.2,random_state=2)

In [148]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100)

In [149]:
rfr.fit(X_train,y_train)
predict = rfr.predict(X_val)

In [150]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_val,predict)
mae

17919.66082474227